body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding-left: 3%;
    padding-bottom: 2%;
    border-bottom: 4mm ridge #222;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #222;
    padding: 1% 30%;
    position: fixed;
    width: 40%;
}

.header a {
    display: flex;
}

.header p {
    margin: 0.5rem;
    color: white;
    width: fit-content;
}

.header-smart {
    display: none;
}

.logo_mini {
    width: 50px;
    height: 50px;
    padding: 1%;
}

.logo {
    width: 200px;
    height: 200px;
}

.main {
    display: block;
    margin: auto 20%;
}

#first {
    display: flex;
    justify-content: space-evenly;
    padding: 25% 0 10% 0;
}

.text {
    margin-left: 2rem;
}

#first img {
    width: 384px;
    height: 216px;
}

#second img {
    width: 100%;
    height: auto;
}

.iframe_warp iframe {
    width: 100%;
    height: 15rem;
}

.member {
    padding: 1rem;
}

#third .item .contact p {
    font-size: 0.8rem;
}

.footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10%;
}

.footer .contact img {
    width: 30px;
    height: auto;
}

.counter {
    padding: 10% 0;
}

.item_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    font-size: 1.5rem;
}

.item {
    padding: 4% 0;
}

.music {
    margin: 2rem 0;
}

.music p {
    font-size:1.5rem;
}

.movie {
    margin: 2rem 0;
}

.movie p {
    font-size: 1.5rem;
}

.icon {
    width: 1.5rem;
    height: auto;
    transform: translateY(0.2rem);
}

.conn {
    padding-left: 2%;
}

/* smartphone */

@media screen and (max-width: 680px) {
    p {
        margin: 0;
        padding-left: 1%;
        width: 99%;
        font-size: 1.1rem;
    }

    h1 {
        padding-top: 2%;
        padding-left: 3%;
        padding-bottom: 2%;
        border-bottom: 4mm ridge #222;
        /* font-size: 3rem; */
        margin: 0;
    }

    h2 {
        margin: 0;
        font-size: 1.2rem;
    }

    .header {
        display: none;
    }

    .header-smart {
        display: block;
        background-color: #222;
        padding: 1% 4%;
        margin: 0;
        position: fixed;
        text-align: center;
        width: 92%;
        opacity: 0.85;
    }

    .header-smart a {
        /* display: block; */
        width: max-content;
    }

    .header-smart img {
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }

    .header-smart p {
        display: inline-block;
        color: white;
        padding: 0 1rem;
        margin: 0;
        font-size: 2.5rem;
        width: fit-content;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .main {
        margin: 0 5%;
        width: 90%;
        padding-top: 10%;
    }

    .main .counter .text p {
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }

    #first {
        display: block;
        padding-top: 5rem;
    }

    .text {
        margin: 0;
    }

    #first img {
        width: 100%;
        height: auto;
    }

    #team {
        padding: 2rem 0;
    }

    #second img {
        width: 100%;
        height: auto;
    }

    .member {
        padding: 1rem 0;
    }

    #third {
        padding: 4rem 0;
    }

    .iframe_warp iframe {
        width: 100%;
        height: 170;
    }

    .contact img {
        width: 2rem;
        height: auto;
        padding: 1rem;
    }

    #third .item .contact p {
        font-size: 0.6rem;
    }

    .footer {
        padding: 10% 0;
    }

    .footer .contact img {
        width: 20px;
        height: auto;
    }

    .counter {
        padding: 10% 0;
    }

    .item_grid {
        display: block;
    }

    .item {
        padding: 4% 0;
    }

    .icon {
        width: 1.5rem;
        height: auto;
    }

    .conn {
        padding-left: 2%;
    }

    .contact a {
        text-align: center;
    }

    .contact p {
        font-size: 1rem;
    }
}
